.Uploader {
    display: flex;
    flex-direction: column;
    height: 363px;
    width: 681px;
    margin: 25px auto;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 24px;
    border: 3px solid transparent;
}

.uploadMsg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 286px;
    height: 50px;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: center;
}

.uploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 48px;
    padding: 0 24px;
    border-radius: 24px;
    background: #000000;
    color: #f6f6f6;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.84px;
    text-align: center;
    margin: auto;
}

.previewImg, .demoImg {
    height: 140px;
    width: 140px;
    border: 1.5px solid #ECECEC;
    border-radius: 16px;
    margin: 0px 12px;
}

.results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 922px;
    height: 128px;
    margin: 20px 24px;
    border-radius: 16px;
    border: 1.5px solid #ECECEC;
}

.divider-bar {
    width: 6em;
    border: 1px solid #ECECEC;
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .Uploader {
        height: auto;
        width: 90%;
        margin: 10px auto;
    }

    .uploadMsg {
        width: auto;
        height: auto;
        font-size: 16px;
    }

    .uploadButton {
        width: auto;
        height: auto;
        padding: 10px 15px;
        font-size: 14px;
    }

    .previewImg, .demoImg {
        height: 100px;
        width: 100px;
    }

    .divider-bar {
        width: 15em;
        transform: rotate(0deg);
        margin: 1em;
    }

    .results {
        width: 100%;
        height: 12rem;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .results {
        width: 90%;
    }

    .mapboxgl-map {
        height: 60vh;
        width: 60vh;
    }
}