.Uploader {
    display: flex;
    flex-direction:column;
    height: 363px;
    width: 681px;
    margin: 25px auto;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    border-radius: 24px;
    border: 3px solid transparent;

    .fileChooser {
        white-space: no-wrap;
    }
    .fileSubmit {
        flex-grow: 1;
    }
}

.Uploader:hover {
    background: #E8E8E8;
    border: 3px solid #000000
}

.Uploader:hover .fileDrop {
    border: 2px dashed transparent
}

.previewImg {
    height: 120px;
    border: 1.5px solid #ECECEC;
    border-radius: 16px;
    padding: 20px 24px 20px 24px;
    gap: 24px;
}

.demoGallery {
    display: flex;
    height: 150px;
}

.demoGaller img {
    object-fit: contain;
}
.demoImg {
    height: 120px;
    border: 1.5px solid #ECECEC;
    border-radius: 16px;
    padding: 20px 24px 20px 24px;
    gap: 24px;
}

.demoImg img {
    object-fit: contain;
}